#tabla
    {
        color: green;
        border: 5px solid darkgreen;
        border-collapse: collapse;
        background-color: lightgreen;
        font-family: Arial, Helvetica, sans-serif;
    }

.encabezado
    {
        color: grey;
        font-family: 'Times New Roman', Times, serif;
        font-size: 40px;
        font-style: italic;
        text-align: center;
    }

.link { font-family:'Courier New', Courier, monospace}
.link:link { color: blue }
.link:visited { color: darkcyan }
.link:hover { color: darkblue; text-decoration: none; }

#formulario
    {
        color: black;
        border: 5px solid darkgreen;
        background-color: lightgreen;
        font-family: Arial, Helvetica, sans-serif;
    }

.body
    { font-family: Georgia, 'Times New Roman', Times, serif; }

.modo
    {   
        background-color: #222;
        color: #e6e6e6;
        border-color: #e6e6e6;
    }